<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SF Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>19/09/26 09:48:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_104.CF_Enable_CF_Chatbot(java.lang.String)[pri:0, instance:auto.TC_104@c038203]">CF_Enable_CF_Chatbot</td> 
  <td>TestNG@52979320</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/09/26 09:52:21</td>   <td>246938</td> <td>&nbsp;</td><td title="&lt;&lt;TC_104.EndOftest()[pri:0, instance:auto.TC_104@c038203]">&lt;&lt;EndOftest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@52979320</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/09/26 09:48:14</td>   <td>-145</td> <td>&nbsp;</td><td title="&gt;&gt;TC_104.startTest(org.testng.ITestContext)[pri:0, instance:auto.TC_104@c038203]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@52979320</td>   <td></td> </tr>
</table>
