<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FleetWeb Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82b2fa">  <td>20/12/15 12:48:10</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.startTest(org.testng.ITestContext)[pri:0, instance:auto.LoginPageTest@d21a74c]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1261459816</td>   <td></td> </tr>
<tr bgcolor="82b2fa">  <td>20/12/15 12:48:11</td>   <td>103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.Login_Page_Test(java.lang.String)[pri:0, instance:auto.LoginPageTest@d21a74c]">Login_Page_Test</td> 
  <td>TestNG@1261459816</td>   <td></td> </tr>
<tr bgcolor="82b2fa">  <td>20/12/15 12:48:31</td>   <td>20131</td> <td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.EndOftest()[pri:0, instance:auto.LoginPageTest@d21a74c]">&lt;&lt;EndOftest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1261459816</td>   <td></td> </tr>
</table>
