<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Hover_testng</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a879bf">  <td>18/06/27 07:59:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SFAutoTC_002.TestCase(java.lang.String)[pri:0, instance:testPackage.SFAutoTC_002@7006c658]">TestCase</td> 
  <td>TestNG@1170700622</td>   <td></td> </tr>
<tr bgcolor="a879bf">  <td>18/06/27 08:00:06</td>   <td>52268</td> <td>&nbsp;</td><td title="&lt;&lt;SFAutoTC_002.EndOftest()[pri:0, instance:testPackage.SFAutoTC_002@7006c658]">&lt;&lt;EndOftest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1170700622</td>   <td></td> </tr>
</table>
