<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="618563">  <td>20/12/15 14:55:53</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;LOGIN_TC001.EndOftest()[pri:0, instance:auto.LOGIN_TC001@6676f6a0]">&lt;&lt;EndOftest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620948294</td>   <td></td> </tr>
<tr bgcolor="618563">  <td>20/12/15 14:55:42</td>   <td>-10891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LOGIN_TC001.LOGIN_TC001_Welcome_Page(java.lang.String)[pri:0, instance:auto.LOGIN_TC001@6676f6a0]">LOGIN_TC001_Welcome_Page</td> 
  <td>main@1620948294</td>   <td></td> </tr>
<tr bgcolor="618563">  <td>20/12/15 14:55:42</td>   <td>-11001</td> <td>&nbsp;</td><td title="&gt;&gt;LOGIN_TC001.startTest(org.testng.ITestContext)[pri:0, instance:auto.LOGIN_TC001@6676f6a0]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620948294</td>   <td></td> </tr>
</table>
